$color-text: #E8E8E8;
$color-white: #FFF;
$color-dark-white : #E8E8E8;
$color-blue-dark: #496BFE;
$color-blue-light: #5474FD;
$color-grey: #333333;

$font-brandon-grotesque: 'Brandon Grotesque';
$font-aleo: 'Aleo';