/*General*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Header*/
.header {
    padding: 44px 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.nav-holder {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin-right: 29px;
}

.nav-list,
.btn-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item,
.btn-item {
    display: inline-block;
}

.nav-list {
    margin-right: 45px;
    margin-left: 10px;
    padding: 10px 0;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: #2F281E;
    font-weight: 400;
}

.btn-list {
    margin: 0 -7px;
}

.btn-item {
    padding: 0 7px;
}

.btn-white {
    display: inline-block;
    padding: 10px 25px;
    background-color: #fff;
    color: #173A56;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 4px;
    transition: background .2s linear;
}

.btn-white:hover {
    background-color: #2F281E;
    color: #fff;
}

.btn{
    display: inline-block;
    padding: 11px 29px;
    background-color: #FF9900;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
    transition: background .2s linear;
}

.btn:hover {
    background-color: #ff5900;
}

/*Main*/

/*Hero-seciton*/
.hero-section{
    padding-top: 113px;
}

.hero-section .container {
    display: flex;
    justify-content: space-between;
}

.hero-collum {
    width: 50%;
}

.hero-title {
    font-weight: 700;
    font-size: 44px;
    color: #2F281E;
    margin-bottom: 30px;
}

.hero-text-holder {
    color: #544837;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 45px;
    width: 100%;
    max-width: 458px;
}

.hero-btn-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero-btn-item {
    padding: 0;
    margin-right: 30px;
}

.hero-btn {
    margin: 0;
    padding: 15px 42px;
}

.hero-video-link {
    color:#FF9900;
    font-weight: 600;
}

.hero-video-link::before {
    content: url(img/play_button.svg);
    margin-right: 9px;
}

.hero-img {
    margin-bottom: 0;
}

/*Tools-seciton*/
.tools-section {
    padding-top: 111px;
}

.tools-title {
font-size: 36px;
line-height: 54px;
text-align: center;
color: #2F281E;
margin-bottom: 54px;
}

.tools-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
}

.tools-list-item {
    width: 100%;
    max-width: 240px;
}

.tools-list-item-img {
    margin-bottom: 30px;
}

.tools-list-item-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    margin-bottom: 22px;
}

.tools-list-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.tools-btn-holder {
    text-align: center;
}

.tools-btn {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 36px;
}

/*Tools-seciton*/
.footer {
    padding: 146px 0 89px 0;
}

.footer-section .container {
    border-top: 1px solid rgba(188, 208, 229, 0.496913);
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.footer-collum-right {
    padding-top: 50px;
    max-width: 785px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-list-item a {
    font-size: 16px;
    line-height: 35px;
    color: #544837;
    text-decoration: none;
}

.footer-form-input {
    max-width: 325px;
    width: 100%;
    padding: 15px 0;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-bottom: 21px;
}

.footer-form-btn {
    border: none;
    font-weight: 700;
}